{% extends 'baseFront.html.twig' %}

{% block title %}
    Nouvelle réclamation
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <h4 class="text-center" style="font-style: italic; color: #4F79C7;">Votre réclamation est importante pour nous</h4>

                {% if form_errors(form) is not empty %}
                    <div class="alert alert-danger">
                        {% for error in form_errors(form) %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate', 'id': 'reclamation_form'}} ) }}

                            <div class="form-group mb-4">
                                {{ form_label(form.sujet, null, {'label_attr': {'style': 'color: #4F79C7; width: 20%;'}}) }}
                                {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
                                <div style="color: red;">
                                    {{ form_errors(form.sujet) }}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.description, null, {'label_attr': {'style': 'color: #4F79C7; width: 20%;'}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                <div style="color: red;">
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                {{ form_label(form.emailUser, null, {'label_attr': {'style': 'color: #4F79C7; width: 20%;'}}) }}
                                {{ form_widget(form.emailUser, {'attr': {'class': 'form-control'}}) }}
                                <div style="color: red;">
                                    {{ form_errors(form.emailUser) }}
                                </div>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6LeG1cMpAAAAABnqXb3wfJG7g0i63lsKPdKEibh-"></div>
                            <button type="submit" class="btn btn-primary btn-block mt-4" onclick="submitForm()">Envoyer</button>

                            {{ form_end(form) }}
                            {% if app.flashes('error') is not empty %}
                                <div class="alert alert-danger mt-4">
                                    Une réclamation avec les mêmes données existe déjà.
                                    {{ app.flashes('error')|first }}
                                </div>
                            {% endif %}
                            {% if app.flashes('success') is not empty %}
                                <div class="alert alert-success mt-4">
                                    Votre réclamation est envoyée avec succès
                                    {{ app.flashes('success')|first }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('images/voiture.png') }}" alt="image d'une voiture" class="img-fluid mt-5">
            </div>
        </div>
    </div>

    <div style="border: 1px solid #ccc; padding: 10px; margin-top: 20px; position: fixed; bottom: 0; width: 100%; background-color: #f9f9f9; text-align: center;">
        <a href="{{ path('app_reclamation_index') }}" style="text-decoration: none;">Mes réclamations</a>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      
    <script>
        function submitForm() {
            var response = grecaptcha.getResponse();
            if (response.length === 0) {
                alert('Veuillez résoudre le reCAPTCHA.');
                return false;
            } else {
                document.getElementById('reclamation_form').submit();
            }
        }
    </script>

{% endblock %}
