{% extends 'baseback.html.twig' %}

{% block title %} 
    Liste des réclamations
{% endblock %}

{% block body %}
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-left: 15px; margin-right:15px; margin-bottom:20px;">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/logoP.png') }}" alt="image d'une voiture" class="img-fluid mt-3" style="max-width: 70px; height: auto;">
        </a>
        <!-- Bouton de basculement pour les petits écrans -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenu du menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('app_reponse_reclamation_index') }}" class="nav-link">Mes réponses</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_reclamation_statistics') }}" class="nav-link">Statistiques</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="table-responsive mb-4" style="margin: 20px;">
        <table class="table table-hover" style="border: 1px solid #89CDE8; width: calc(100% - 40px);">
            <thead class="thead-dark">
                <tr>
                    <th style="color: #fff; background-color:#4EBFD9;">Sujet</th>
                    <th style="color: #fff; background-color: #4EBFD9;">Description</th>
                    <th style="color: #fff; background-color: #4EBFD9;">Date de réclamation</th>
                    <th style="color: #fff; background-color: #4EBFD9;">Email de l'utilisateur</th>
                    <th style="color: #fff; background-color: #4EBFD9;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in pagination %}
                    <tr>
                        <td>{{ reclamation.sujet }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                        <td>{{ reclamation.emailUser }}</td>
                        <td>
                            <a href="{{ path('app_reclamation_showR', {'idr': reclamation.idr}) }}" class="btn btn-warning btn-sm mr-1"  style=" background-color:#4EBFD9;">Voir</a>
                            <a href="{{ path('app_reponse_reclamation_new', {'idr': reclamation.idr}) }}" class="btn btn-primary btn-sm">Répondre</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune réclamation trouvée.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <form method="get" action="{{ path('app_reclamation_index_all') }}" class="form-inline justify-content-center mb-4 mr-3">
            <div class="form-group mr-3">
                <label for="dateReclamation" class="mr-2" style="color: #192D82;">Sélectionner une date de réclamation:</label>
                <input type="text" id="dateReclamation" name="dateReclamation" class="form-control datepicker" onchange="this.form.submit()">

          
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ knp_pagination_render(pagination) }}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}

    <!-- Inclure jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Inclure jQuery UI (DatePicker dépend de jQuery UI) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- JavaScript pour initialiser le DatePicker -->
    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd', // Format de date
            // Autres options du DatePicker
        });
    });
    </script>
{% endblock %}
